To-Field not optional contradicting RFC-2822

Hi! 
In RFC-2822 section 3.6. Field definitions, it says that the To header is optional. However, when creating a mime message without setting the To Header, and applying the asRaw() or asEncoded() function, an error is returned that the To Header must not empty. 

This is the code to reproduce: 

```
const msg = createMimeMessage()
msg.setSender({name: 'Lorem Ipsum', addr: 'lorem@ipsum.com'})
msg.setSubject('🚀 Issue 49!')
msg.setMessage('text/plain', `Hi,
I'm a simple text.`)
msg.asRaw()
```

Not setting the To header will result in a INVALID_MAILBOX error being thrown. Thus the To header is not optional.

hi @Thoma997 sorry for late reply, you are right... **To** field is optional now as of v2.1 😌 closing the issue in regard to that. hope you'll get the benefit you wanted.